name: Generate Snake

on:
  # Roda automaticamente a cada 12 horas
  schedule:
    - cron: "0 */12 * * *" 
  
  # Permite rodar manualmente na aba Actions
  workflow_dispatch:
  
  # Roda em cada push na master/main
  push:
    branches:
    - master
    - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - uses: Platane/snk@v3
        id: snake-gif
        with:
          github_user_name: AlvaroMayFilho
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark&color_snake=#00f0ff&color_dots=#161b22,#4c1d95,#7c3aed,#a78bfa,#bd34fe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
